/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'colors';
@import 'fonts';
@import 'media';
@import 'pages/portfolio';
@import 'pages/freakyGrid';



/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}


/* 2. Content ================================= */

	.page_wrapper.page_one{
		display: flex;
		max-width: 1250px;
		margin: 0 auto;
		

		.categories{
			display: none;
			@media#{$tablet}{
				display: block;
				text-decoration: underline;
				font-family: $fontOpen;
				font-weight: bold;
				color:$stSetting;
			}
		}

		.column_two{
			display: none;

			@media#{$tablet}{
				display: block;
				width:50%;
				margin:5%;

				.body_headings{
					display: flex;

					.bdy_row1{
						width:75%;

						.setting{
			   
							font-family: $fontNun;
							margin: 10% auto;
							
							h1,h2,h3,h4,h5{
								color: $stHeading;
							}
						
						
							h1{
								font-size:64px;
								line-height:68px;
								letter-spacing:-2.2px;
							}
						
							h2{
								font-size:44px;
								line-height:48px;
								letter-spacing:-1px;
							}
						
							h3{
								font-size:36px;
								line-height:40px;
								letter-spacing:-0.75px;
							}
							
							.pText{
								font-family: $fontOpen;
								width:85%;
							}
							.para_big{
								font-size: 25px;
								line-height: 31px;
								letter-spacing:-0.3px;
							}

							.para_reg{
								font-size: 19px;
								line-height: 27px;
							}

							.para_small{
								font-size: 14px;
								line-height: 19px;
							}
				 
							.default{
								margin-top:2%;
								color: $stSetting;
								font-size: 12px;
								font-weight: lighter;
								font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
							}
						 }
					}

					.bdy_row2{
						width:40%;
						.setting{
							font-family: $fontNun;
							margin: 27% auto;

							&.settingH5{
								margin:45% auto;
							}

							&.settingPbig{
								margin:35% auto;
							}
							&.settingPreg{
								margin:60% auto;
							}

							&.settingPsmall{
								margin:-25% auto;
							}
							
							h4,h5,h6{
								color: $stHeading;
							}
						
						
							h4{
								font-size:30px;
								line-height:36px;
								letter-spacing:-0.5px;
							}
						
							h5{
								font-size:24px;
								line-height:30px;
							}
						
							h6{
								font-size:15px;
								line-height:23px;
								letter-spacing:2px;
							}
						
							.para{
								font-family: $fontOpen;
								font-size: 19px;
								line-height: 28px;
							}
				 
							.default{
								margin-top:2%;
								color: $stSetting;
								font-size: 12px;
								font-weight: lighter;
								font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
							}
						 }
					}
				}

				.buttons{
					display: flex;
					
					button{
						width:170px;
						height:40px;
						font-size:14px;
						margin:5%;
						border-radius: 5%;

						&.btn1a,&.btn1b{
							width:170px;
							height:55px;
							color:white;
						}

						&.btn1a{
							background-color:$stLink;
						}
						&.btn2a{
							background-color:$stLink;
						}
						&.btn3a{
							background-color:$stGray;
						}
						&.btn4a{
							background-color:white;
							border:3px solid $stBody;
						}

						&.btn1b{
							background-color:$stLinkTint;
						}
						&.btn2b{
							background-color:$stLinkTint;
						}
						&.btn3b{
							background-color:$stSetting;
						}
						&.btn4b{
							background-color:$stBody;
							color:white;
						}

					}

					.button_reg{
						width:50%;
						padding:5%;		
					}

					.button_hover{
						width:50%;
						padding:5%;
					}
				}
			}
		}

		.column_one{

			@media#{$tablet}{
				width:40%;
				margin:5%;
			}

				.font_info{
					display: none;
					@media#{$tablet}{
						display: block;
						line-height: 25px;
						margin:5%;
						text-decoration: underline;
						font-family: $fontOpen;
						color:$stSetting;
					}
				}
			
				.color_swatches{
					display: none;
					@media#{$tablet}{
						display: flex;
						margin:10% auto;
				
						.swatches{
							width:60%;
						}
				
						.swatch_tints{
							width:40%;
						}

						.swatch_text{
							height: 50px;
							padding:5%;

							p{
								color:white;
								font-family: $fontOpen;
								font-size:18px;

								.tinted{
									color:black;
								}
							}

							.tinted{
								color:black;
							}

							&.colorA{
								background-color:$stLinkTint;
							}

							&.colorB{
								background-color:$stHeadingTint;
							}

							&.colorC{
								background-color:$stBodyTint;
							}

							&.colorD{
								background-color:$stGoldTint;
							}

							&.colorE{
								background-color:$stRedTint;
							}

							&.colorF{
								background-color:$stOrangeTint;
							}

							&.colorG{
								background-color:$stMintTint;
							}

							&.color1{
								background-color:$stLink;
							}

							&.color2{
								background-color:$stHeading;
							}

							&.color3{
								background-color:$stBody;
							}

							&.color4{
								background-color:$stGold;
							}

							&.color5{
								background-color:$stRed;
							}

							&.color6{
								background-color:$stOrange;
							}

							&.color7{
								background-color:$stMint;
							}

							&.color8{
								background-color:$stGray;
								width:166.7%;

								p{
									color:$stHeading;
								}
							}

						}
					}
				}
			
	
		
			.mobile_wrap{
				width: 100%;
				border:30px solid rgb(211, 211, 211);
				border-radius: 5%;
				margin:0 auto;
				padding:5%;
				//position: relative;
				@media#{$tablet}{
					margin:0%;
					
				}
		
				.mobile{
					//width: 100%;
					//position: absolute;
					//top:0;
					
					font-size:17px;
					text-decoration: underline;
					font-weight: bold;
					color:$stBody;
					font-family: $fontOpen;
					@media#{$tablet}{
						//display: none;
					}
				}
		
				.setting{
			   
				   font-family: $fontNun;
				   margin: 2% auto;
				   
				   h1,h2,h3,h4,h5{
					   color: $stHeading;
				   }
			   
			   
				   h1{
					   font-size:40px;
					   line-height:44px;
					   letter-spacing:-0.2px;
				   }
			   
				   h2{
					   font-size:30px;
					   line-height:36px;
					   letter-spacing:-0.2px;
				   }
			   
				   h3{
					   font-size:26px;
					   line-height:34px;
					   letter-spacing:0px;
				   }
			   
				   h4{
					   font-size:20px;
					   line-height:30px;
				   }
			   
				   h5{
					   font-size:20px;
					   line-height:30px;
				   }
			   
				   .para{
					   font-family: $fontOpen;
					   font-size: 19px;
					   line-height: 28px;
				   }
		
				   .default{
					margin-top:2%;
					color: $stSetting;
					font-size: 12px;
					font-weight: lighter;
					font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
				   }
				}
			}
		}
	}

